.cart-container {
    display: grid;
    grid-template-columns: auto;
    // grid-template-rows: 40% 40% 10% 10%;
    grid-template-rows: auto;

    .cart-container-price {
        display: inline-flex;
    }
}